body {
    cursor: default;
    overflow-y: scroll;
}

#analyze {
    position: relative;
}

.comments > div {
    font-style: italic;
    margin-bottom: 15px;
    margin-top: 15px;
    word-break: break-all;
}

#report #reddit-alien {
    float: right;
    margin: 20px 20px 0 20px;
    zoom: 50%;
}

#report #reddit-alien * {
    /* so it can play with bootstrap */
    -moz-box-sizing: initial;
    -webkit-box-sizing: initial;
    box-sizing: initial;
}

.container-fluid {
    border-radius: 4px;
    margin-bottom: 50px;
    padding: 10px 40px;
    width: 600px;
}

#analyze .alert {
    margin-top: 12px;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
    margin-right: 8px;
}

@-webkit-keyframes spin2 {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: scale(1) rotate(0deg);
    }
    to {
        transform: scale(1) rotate(360deg);
    }
}

@media (min-width: 768px) {
    .container-fluid {
        margin-top: 20px;
        border: 1px solid rgb(223, 223, 223);
    }
}
